{% extends "layout.html" %}
{% block body %}
  <div class="container jumbotron text-center mt-5">
      <h1>Welcome to Machine Learning</h1>
      <p>Experience various approaches to representing features</p>
      <p>Experience scikit-learn and supervised classification</p>
  </div>
  <div class="container">

      <h3>Deep Learning: Analyzing Sentiment. </h3>
  </div>

  <div class="container  mt-5">
    <div class="row">
      <div class="col">
        <div class="card">
         
          <div class="card-body">
            <h4 class="card-title">word2vector</h4>
            <p class="card-text">The Word2Vec tools take text data as input and produce the word vectors as output. </p>
          </div>
          <div class="card-footer">
            <a href="\w2v" class="btn btn-primary">word2vector</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          
          <div class="card-body">
            <h4 class="card-title">one-hot encoding</h4>
            <p class="card-text">A one hot encoding is a representation of categorical variables as binary vectors.</p>
          </div>
          <div class="card-footer">
            <a href="\ohe" class="btn btn-primary">one-hot-encoding</a>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}